<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_tag bulk_adventure_chapter_choices_path([@adventure, @chapter]) do %>
      <% @choices.length.times do |index| %>
        <%= label_tag('Option') %>
        <%= text_field_tag("choices[option_#{ index }]") %>
      <% end %>
      <%= submit_tag "Submit" %>
    <% end %>
  </body>
</html>
