<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Design your Adventure</h1>
    <%= link_to "Start", adventure_content_path(@adventure_id) %>
  </body>
</html>
