<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Design your Adventure</h1>
    <%= @adventure.title %>
    <div class='tree'>
      <%= @adventure.create_tree(@adventure.chapters.first).html_safe %>
    </div>
    <%= link_to "Start", new_adventure_chapter_path(@adventure_id) %>
  </body>
</html>
