<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adventure</title>
  </head>
  <body>
    <% @adventures.each do |adventure|%>
      <%= link_to "#{adventure.title}", adventure_path(adventure.id) %>
    <% end %>
  </body>
</html>
