<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adventure</title>
  </head>
  <body>
    <% @adventures.each do |adventure|%>
    <h1><%= adventure.title %></h1>
    <% end %>
  </body>
</html>
