<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adventure</title>

  </head>
  <body>

    <div class="main_logo_container">
      <%= image_tag "nav_logo.png", id: "main_logo" %>
    </div>

    <div class="adventure_container">
        <% @adventures.each do |adventure|%>
          <div class="adventure">
            <%= link_to "#{adventure.title}", adventure_path(adventure.id), class: "adventure_title" %>
            <div class="adventure_image" style="background-image: url(<%= adventure.image.url(:medium) %>)">
            </div>
          </div>
        <% end %>
    </div>

    <!-- <div class="adventure_container">
      <% @adventures.each do |adventure|%>
        <div class="adventure">
          <%= link_to "#{adventure.title}", adventure_path(adventure.id), class: "adventure_title", :style => 'background-image: url('+adventure.image.url(:medium)+')' %>

        </div>
      <% end %>
    </div> -->

  </body>
</html>
