<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="synopsis_text">
      <%= @adventure.synopsis %>
    </div>
     <form class="form_play" action="<%= @redirection %>"  method="get">
       <input class="play_button" type="submit" value="Play">
     </form>
  </body>
</html>
