<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="synopsis_text">
      <%= @adventure.synopsis %>
    </div>
    <div class="form_play">
      <%= link_to "Play", adventure_chapter_path(@adventure, @first_chapter), class: "play_button"%>
    </div>
  </body>
</html>
