<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @adventure.synopsis %>
    <% if current_user %>
     <form action="/adventures/<%= @adventure.id %>/chapters"  method="get">
       <input type="submit" value="Play">
     </form>
    <% else %>
      <form action="/users/sign_up"  method="get">
        <input type="submit" value="Play">
      </form>
    <% end %>
  </body>
</html>
