<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @adventure.synopsis %>
     <form action="<%= @redirection %>"  method="get">
       <input type="submit" value="Play">
     </form>
  </body>
</html>
