<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for [@adventure, @chapter] do |form| %>
      <%= form.label :description %>
      <%= form.text_area :description %>
      <%= form.button :submit %>
    <% end %>
  </body>
</html>
