<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="chapter_container">
      <%= @chapter.description %>
    </div>
    <br>
    <div class="choices_container">
      <% @choices.each do |choice| %>
        <%= link_to "#{choice.option}", "/adventures/#{@chapter.adventure_id}/chapters/#{choice.resulting_chapter_id}",id:"choice_button", class:"button" %>
      <% end %>
    </div>
  </body>
</html>
