<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="chapter_container">
      <%= @chapter.description %>
    </div>
    <br>
    <div class="choices_container">
      <% @chapters.each do |pair| %>
        <%= link_to "#{pair[0].option}", adventure_chapter_path(@adventure.id, pair[1].id) %>
      <% end %>
    </div>
  </body>
</html>
