<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="chapter_container">
      <%= @chapter.description %>
    </div>
    <br>
    <div class="choices_container">
      <% @chapters.each do |pair| %>
        <%= link_to "#{pair[0].option}", adventure_chapter_path(params[:adventure_id], pair[1].id), id:"choice_button", class:"button" %>
      <% end %>
      <%= link_to "Start Again", adventure_game_destroy_path(params[:adventure_id]), id:"choice_button", class:"button" %>
    </div>
  </body>
</html>
