
// ============= adventures ==============
.main_logo_container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px dashed orange;
}

#main_logo {
  max-width: 100%;
  height: auto;
  width: 70%;
}

.adventure_container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // border: 1px solid yellow;
  padding: 1%;
}

.adventure {
  margin: 2%;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 280px;
  background-color: white;
  border-radius: 15px;
  // border: 1px solid green;
}

.adventure_title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
  border-radius: 15px 15px 0 0;
  position: relative;
  z-index: 1;
  padding-bottom: 10.8em;
  margin-bottom: -10.8em;
}

.adventure_image {
  text-align: center;
  width: 100%;
  height: 180px;
  background-color: #e9e8e8;
  // border: 1px solid yellow;
}



// ================== play ================

.synopsis_text {
  display: flex;
  background-color: white;
  width: 80%;
  height: 100px;
  margin: 5% auto 0 auto;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  padding: 2%;
  color: black;
}

.form_play {
  // border: 1px solid green;
  text-align: center;
  padding-top: 2%;
  font-size: 1.2em;
}

.play_button {
    margin: 5px 5px 25px 5px;
    padding: 10px;
    border-radius: 13px;
    border: none;
    color: darkred;
    font-family: 'Indie Flower', cursive;
    font-weight: 200;
    text-decoration: none;
    background-color: #e9e8e8;
    width: 100px;

}

// ================== media queries ================

@media screen and (max-width: 670px) {

  .main_logo_container {
    margin: 0 auto 10px auto;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main_logo {
    max-width: 100%;
    height: auto;
    width: 70%;
  }


}

@media screen and (min-width: 1186px) {

  .adventure_container {
    max-width: 990px;
  }

}
