
// ============= adventures ==============
.main_logo_container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed orange;
}

#main_logo {
  max-width: 100%;
  height: auto;
  width: 70%;
}

.adventure_container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid yellow;
  padding: 1%;
}

.adventure {
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  color: black;
  text-align: center;
  border: 1px solid red;
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 1%;
}
