/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // font-family: 'Source Sans Pro', sans-serif;

 html, body {
   height: 100%;
   font-family: 'Source Sans Pro', sans-serif;
   background: url('background_img.jpg') no-repeat;
   background-color: #e9e8e8;
   background-size: cover;
 }

 // ============= nav bar ==============

 .nav_bar {
  //  border: 1px solid blue;
   height: 120px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 #nav_logo {
  //  border: 2px solid orange;
   width: 300px;
   margin-left: 5%;
 }

 .nav_links {
   display: flex;
   justify-content: center;
   align-items: center;
  //  border: 1px solid lightgreen;
   width: 30%;
 }

 .button {
   margin: 5px;
   padding: 10px;
   border-radius: 13px;
   border: none;
   color: white;
   font-family: 'Indie Flower', cursive;
   font-weight: 200;
   text-decoration: none;
 }

 #button_log_in {
   display: block;
   background-color: #8b0407;
   text-align: center;
   width: 50px;
 }

 #button_sign_up {
   display: block;
   background-color: #333333;
   text-align: center;
   width: 50px;
 }

 #button_log_out {
   display: block;
   background-color: #666666;
   text-align: center;
   width: 50px;
 }

 // ============= registration forms ==============

 .registration_forms {
   text-align: center;
   margin: 0 auto;
   background-color: white;
   border-radius: 15px;
   width: 325px;
   margin: 10px auto;
 }

 .form_title {
   width: 325px;
   text-align: center;
   font-size: 2em;
   font-weight: 600;
   border-radius: 15px 15px 0 0;
   background-color: #8b0407;
   color: white;
 }

 .form_title_grey {
   width: 325px;
   text-align: center;
   font-size: 2em;
   font-weight: 600;
   border-radius: 15px 15px 0 0;
   background-color: #333333;
   color: white;
 }

 .sign_up_h2 {
   padding: 2%;
}

 .field {
   text-align: center;
   margin: 2.5%;
 }

 .actions {
  //  border: 1px solid yellow;
   text-align: center;
 }

 #log_in_button {
   margin: 5px;
   padding: 10px;
   border-radius: 13px;
   border: none;
   color: white;
   font-family: 'Indie Flower', cursive;
   font-weight: 200;
   text-decoration: none;
 }

 .form_heading {
   font-size: 1.5em;
   font-weight: 400;
 }

 .form_input_box {
   text-align: center;
   width: 200px;
   height: 25px;
   border: none;
   border-radius: 15px;
   margin: 0.5%;
   background-color: #e9e8e8;
 }

 #form_check_box {
   border: 1px solid red;
   width: 50px;
 }

 #small_log_in_btn {
   margin: 5px 5px 25px 5px;
   padding: 10px;
   border-radius: 13px;
   border: none;
   color: white;
   font-family: 'Indie Flower', cursive;
   font-weight: 200;
   text-decoration: none;
   background-color: #8b0407;
   width: 100px;
 }

 #small_sign_up_btn {
   margin: 5px 5px 25px 5px;
   padding: 10px;
   border-radius: 13px;
   border: none;
   color: white;
   font-family: 'Indie Flower', cursive;
   font-weight: 200;
   text-decoration: none;
   background-color: #333333;
   width: 100px;
 }

// ================== additional registration links ================

 .forgot_pw {
   text-align: center;
 }

 .forgot_password {
   text-decoration: none;
   color: black;
 }

 .forgot_password:hover {
   text-decoration: underline;
 }

// ================== media queries ================

@media screen and (max-width: 670px) {

  #nav_logo {
    // border: 2px solid orange;
    width: 200px;
    margin-left: 5%;
  }

  #button_log_in {
    width: 50px;
    font-size: 0.8em;
  }

  #button_sign_up {
    width: 50px;
    font-size: 0.8em;
  }
}

// ================== tree ========================

* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
