// Place all the styles related to the chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chapter_container {
  display: flex;
  background-color: #e9e8e8;
  width: 80%;
  margin: 5% auto 0 auto;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 2%;
}

.choices_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  // border: 1px solid lightgreen;
}

#choice_button {
  position: relative;
  background-color: #3a4d58;
  // border: 10px solid pink;
}
#start_again_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start_again_button {
  position: relative;
  background-color: #634E63;
  // border: 10px solid pink;
}
